<div class="row">
  <div class="col-sm-2">-  Accent Chairs</div>
  <div class="col-sm-2">-  Bedside Cabinets</div>
  <div class="col-sm-2">-  Childrens Furniture</div>
  <div class="col-sm-2">-  Dining Sets</div>
  <div class="col-sm-2">-  Kitchens</div>
  <div class="col-sm-2">-  Coffee Tables</div>
  <div class="col-sm-2">-  Loungers & Patio sets</div>
  <div class="col-sm-2">-  Wall Mirrors</div>
  <div class="col-sm-2">-  Book Cases</div>
  <div class="col-sm-2">-  Entrance & Interior Doors</div>
  <div class="col-sm-2">-  New Factory</div>
  <div class="col-sm-2">-  Wardrobes & Walk-In Closets</div>
  <div class="col-sm-2">-  Bathroom</div>
  <div class="col-sm-2">-  Factories</div>
  <div class="col-sm-2">-  Sideboard</div>
  <div class="col-sm-2">-  Bar Stools</div>
  <div class="col-sm-2">-  Floors</div>
  <div class="col-sm-2">-  Sofa's</div>
  <div class="col-sm-2">-  Beds</div>
  <div class="col-sm-2">-  Desks</div>
  <div class="col-sm-2">-  Home Bars</div>
  <div class="col-sm-2">-  Bedroom Chests</div>
  <div class="col-sm-2">-  Dining Chairs</div>
  <div class="col-sm-2">-  Interior Design</div>
  <div class="col-sm-2">-  TV Consoles</div>
</div>
