<style>
  hr.sidebar {
  border: None;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px dotted white;
  }
  aside h4{
    font-size: small;
  }
</style>

<aside>
  
  <div>
  All our solid teak furniture is handmade by craftsmen from recycled teak. The
  teak is taken mainly from old houses and bridges that are being demolished to
  make way for new.
</div>

<hr class="sidebar">
<div>
  <h4>Traditional and Contemporary Styled Solid Teak Furniture</h4> We only produce
  traditional and contemporary solid teak furniture at our factories in
  Burma.Each piece is unique and not mass produced, our furniture has a timeless
  elegance and will last a lifetime. We ship our furniture from Burma to Hua Hin
  each and every week of the year.
</div>

<hr class="sidebar">
<div>
  <h4>A Common Myth</h4> Many companies stress the age of their teak and use this factor
  in justifying price. All reclaimed teak is old, when you consider the trees
  growing life, then its second life as part of a construction, your reclaimed
  teak will always be around 80 to 120 years old. We offer a solid range of teak
  furniture at a very fair price, guaranteed.
</div>

<hr class="sidebar">
<div>
  <h4>Rubberwood/Parawood/MDF/Particle Boards/Veneers </h4>Indonesian and Malaysian Teak.

  None of these materials are used in the manufacture of our furniture. These
  materials soon lose their showroom lustre and won't stand the test of time.
</div>
<div>
  The product we offer is not competing with the lower priced imitations, our
  furniture is suitable for heavy use and will last a lifetime. Many hotels,
  restaurants and bars have our furniture in daily use, we have a large
  portfolio available upon request.
</div>
<div>
  Furniture should be used and admired, choosing a lower priced option will
  often leave you feeling cheated in both these aspects.
</div>
<div>
  "if we wouldn't have it in our home rest assured we wouldn't send it to yours"
</div>

<hr class="sidebar">

</aside>
