<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <style>
      .header {
        background-color: #dfd5c9;
        padding: 20px 20px 20px 20px;
        grid-area: header;
      }
      .aside {
        border-left: 6px solid #3c0702;
        background-color: #4f0902;
        color: aliceblue;
        padding: 50px 30px 50px 20px;
        text-align: justify;
      }
      .main {
        background-color: #e7e1d1;
      }
      .uk-grid + .uk-grid, .uk-grid > .uk-grid-margin, * + .uk-grid-margin{
        margin-top: 0px !important;
      }
    </style>
  </head>
  <body>
    <div uk-grid>
      <div class="col-sm-12 header">{%include header.html%}</div>
    </div>
    <div uk-grid>
      <div class="uk-width-1-4 aside">{%include sidebar.html%}</div>
      <div class="uk-width-3-4 main" style="padding:10px;">
        <div class="row">
          <div class="col-xs-8 col-md-6">
            {{content}}
          </div>
        </div>
      </div>
      <!-- <div class="right">Right</div> -->
      <div class="footer col-sm-12">{%include footer.html%}</div>
    </div>
  </body>
</html>
